
.box {
    width: 300px;
    height: 300px;
    background-color: orange;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: spin;
    animation-duration: 2s;
}

/* @keyframes colorchange {
    from {
        background-color: aqua;
    }
    to {
        background-color: yellow;
    }
} */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}