body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}


h1 {
    display: inline-block;
    /* animation-name: spin;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-timing-function: linear; */
    /* using animation shorthand */
    animation: spin 1s infinite alternate;
    animation-play-state: paused;
    color: white;
}
.box {
    width: 300px;
    height: 300px;
    background-color: orange;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* using shorthand for animation */
    animation: 3s move 2 ease-in-out;
    /* animation-play-state: running; */
    animation-fill-mode: forwards;
    /* animation-name: spin;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-timing-function: linear; */
}

/* .spinner {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border: 7px solid #90A4AE;
    border-top-color: #6011e8;
    border-radius: 50%;
    animation: 1s spin 3 ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
} */

@keyframes move {
    0% {
        transform: translatex(0);
    }
    50% {
        transform: translatex(100%);
        background-color: aqua;
    }
    
    100% {
        transform: translatex(0%);
        background-color: chartreuse;
    }
}

/* @keyframes rainbow {
    0% {
        background-color: red;
    }
    20% {
        background-color: green;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: yellow;
    }
} */
/* @keyframes colorchange {
    from {
        background-color: aqua;
    }
    to {
        background-color: yellow;
    }
} */
/* @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

