/* 
Style the container to create:
  - 3 columns, all evenly sized
  - 3 rows (100 pixels, 200px, and 100px)
*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 100px;
    
  }
    /*Exercise 2*/
        /*  
      Style the container div 
        - 6 columns, each 1 fraction.  USE REPEAT!
        - 4 rows, each 100 pixels.  USE REPEAT!
        - 10px gaps between rows and columns
      */
  .container2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
  }