header, footer {
    background-color: brown;
    height: 200px;
}

article {
    background-color: bisque;
    height: 400px;
}

aside {
    background-color: beige;
    height: 400px;
}


@media only screen and (min-width: 1000px) {
    main {
        display: flex;

    }
    article {
        flex: 1 1 70%;
    }
    
    aside {
        flex: 1 1 30%;
    }
}
@media only screen and (min-width: 1500px) {
    article {
        flex: 1 1 80%;
    }
    
    aside {
        flex: 1 1 20%;
    }
}