body {
    margin: 0;
}

.navbar {
    background-color: #37474f;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    background-color: red;
    display: flex;
    justify-content: space-around;
    /* width: 500px; */

}

.right {
    background-color: blue;
    display: flex;
    justify-content: flex-end;
    /* width: 500px; */
}

.navlink {
    color: rgb(236, 218, 218);
    font-size: 3rem;
    margin: 0 32px;
    text-decoration: none;
}

